/*
 * Masthead for nav
 */

.blog-masthead {
    background-color: #a69f9d;
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.blog-masthead #logo1 {
    
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 570px;
}

.blog-masthead #logo2 {
    float: right;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 570px;
}

/*
 * Main Content
 */
.cartpol_content {
    margin: 50px 0 50px 0;
}

/* Footer stuff */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  z-index: 9999999;
}

#footer .container {
  margin: 30px 0 0 0;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #a69f9d;
}


/*
 * Main content
 */

 /* Move down content because we have a fixed navbar that is 50px tall */
.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.botoes-principais {
  width: 200px;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #428bca;
  color: white;
  cursor:pointer;
}

.form-group {
  margin: 0;
  padding: 1px;
}