<div class="col-sm-3 col-md-2 sidebar">
  <div class="row" id="barra-de-ferramentas"></div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="conteudo">
  <h1 class="page-header">Principais Funções</h1>
  <p>Escolha abaixo uma das tarefas mais comuns ou, no menu ao lado, explore todas as funções do CartPol.</p>
  <hr/>
  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
      <a class="btn btn-primary btn-lg botao-novo-bo botoes-principais" role="button">Emitir B.O.</a>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <a class="btn btn-success btn-lg botao-novo-bo botoes-principais" role="button">Emitir T.C.O.</a>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <a class="btn btn-info btn-lg botao-novo-bo botoes-principais" role="button">Consultas</a>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <a class="btn btn-warning btn-lg botao-novo-bo botoes-principais" role="button">Configurações</a>
    </div>
  </div>
  
</div>